:root {
  --card-width-full: 229px;
  --card-height-full: 318px;
  --card-padding-full: 10px;
  --gap-full: 30px;
  --card-scale: 1;
  --water-scale: 1;
  --hover-scale: 1;
  --chat-max-height: 50vh;
  --card-width: calc(var(--card-width-full) * var(--card-scale));
  --card-height: calc(var(--card-height-full) * var(--card-scale));
  --card-padding: calc(var(--card-padding-full) * var(--card-scale));
  --water-token-size: calc(100px * var(--water-scale));
  --gap: calc(var(--gap-full) * var(--card-scale));
  --icon-size: 45px;
  --flip-tray-button-size: 150px;
  --target-mode-bg: var(--bg-accent);
  --target-mode-fg: var(--fg-accent);
  --target-mode: var(--accent);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

body {
  /* Avoid jiggling as a scrollbar is added */
  overflow-y: scroll;
  position: relative;
  accent-color: var(--variant);
}

body:has(dialog[open]) {
  /* Prevent accidental background scrolling when a dialog is open */
  overflow-y: scroll;
}

.repositionable {
  position: absolute;
  cursor: move;
  transition: top 100ms, left 100ms;
}

.mcenter {
  margin-left: auto;
  margin-right: auto;
}

.panel {
  padding: 10px;
  background-color: var(--bg-accent);
  border-radius: 20px;
}

.panel-small {
  padding: 5px;
}

.icon {
  font-size: var(--icon-size);
}

.icon-sm {
  font-size: calc(var(--icon-size) * 0.6);
}

menu {
  margin: 0;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.bright-hover:hover {
  filter: brightness(125%);
}

.card-size {
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
}

.card-friendly:hover,
.card-opponent:hover {
  position: relative;
  z-index: 2999; /* Ensure our hovered cards overlap the UI as the primary focus */
}

.card-friendly .card-anim:hover {
  box-shadow: 0 0 20px var(--success);
}
.card-opponent .card-anim:hover {
  box-shadow: 0 0 20px var(--danger);
}

.card-opponent:hover {
  transform: rotate(180deg) !important; /* Flip an opponent card around so it's upright and readable */
}
