:root {
  --slot-width: 260px;
  --slot-height: 340px;
  --card-width: 229px;
  --card-height: 318px;
}

body {
  /* Avoid jiggling as a scrollbar is added */
  overflow-y: scroll;
}

menu {
  margin: 0;
}

.draw-pile {
  position: absolute;
}

.draw-pile:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.draw-animation {
  position: absolute;
  animation-timing-function: linear;
  animation: drawCard 1.5s infinite;
}

.slots,
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
}

.slots {
  max-width: calc(var(--slot-width) * 3 + 110px);
}

.slots div {
  width: var(--slot-width);
  height: var(--slot-height);
}

.cards {
  gap: 10px;
}

.card {
  /* transform: skew(-0.06turn, 18deg); */
  width: var(--card-width);
  height: var(--card-height);
}

.card:hover {
  box-shadow: 0 0 20px var(--active);
  animation: tiltCard 2s infinite alternate ease-in-out;
}

.slots div,
.card {
  text-align: center;
  vertical-align: middle;
}

.slot-highlight {
  background-color: var(--success);
}

.damaged-card {
  transition: transform 1s;
  transform: rotate(90deg);
}

.water-wrap {
  position: absolute;
  left: 2%;
  bottom: 10%;
  display: flex;
  gap: 15px;
}

.water-token {
  max-width: 100px;
}

.water-token:hover {
  filter: drop-shadow(2px 2px white);
  animation: tiltToken 2s infinite alternate ease-in-out;
}
