:root {
  --card-width-full: 229px;
  --card-height-full: 318px;
  --card-padding-full: 10px;
  --gap-full: 30px;
  --card-scale: 1;
  --chat-max-height: 50vh;
  --card-width: calc(var(--card-width-full) * var(--card-scale));
  --card-height: calc(var(--card-height-full) * var(--card-scale));
  --card-padding: calc(var(--card-padding-full) * var(--card-scale));
  --gap: calc(var(--gap-full) * var(--card-scale));
  --icon-size: 45px;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

body {
  /* Avoid jiggling as a scrollbar is added */
  overflow-y: scroll;
  position: relative;
}

body:has(dialog[open]) {
  /* Prevent accidental background scrolling when a dialog is open */
  overflow: hidden;
}

.repositionable {
  position: absolute;
  cursor: move;
  /* TODO Feels weird or not to slide the move?: transition: top 100ms, left 100ms; */
}

.panel {
  padding: 10px;
  background-color: var(--bg-accent);
  border-radius: 20px;
}

menu {
  margin: 0;
}

.bright-hover:hover {
  filter: brightness(120%);
  transform: scale(1.05);
}

.junk-pile {
  text-align: center;
  padding: var(--gap);
}

.draw-animation {
  position: absolute;
  animation-timing-function: linear;
  animation: drawCard 1.5s;
}

.slots,
.tray {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  margin-left: auto;
  margin-right: auto;
}

.slots {
  max-width: calc(var(--card-width) * 3 + calc(var(--gap) * 2) + calc(var(--card-padding) * 20));
}

.my-slots {
  border-top: 5px solid black;
  background: linear-gradient(180deg, var(--bg-danger) 0, transparent 50%);
  padding-top: 10px;
}

.opponent-slots {
  background: linear-gradient(180deg, var(--bg-accent) 0, transparent 50%);
}

.opponent-slots,
.opponent-camps {
  /* TODO Cutesey approach to keep the grid maintained in terms of indexes. Otherwise if we reverse in badlands.js -> getSlots -> getOpponentSlots when a WS push comes in we update the wrong index (as for example index 4 has become index 1) */
  transform: rotate(180deg);
  padding-top: 10px; /* With the rotation this is actually...bottom */

  /* Some different styling ideas, such as desaturating opponent cards ~40% and oversaturating ours at ~120%. Or inverting opponent color colors:
  filter: saturate(0.2);
  filter: invert(1);
  */
}

.opponent-slots div {
  /* TODO Could optionally allow players to have opponent cards facing them (aka rotated like this) or facing their opponent (no rotation, then the parent slot rotation handles it). OR just rotate on hover? */
  /* transform: rotate(180deg); */
}

.opponent-camps {
  height: calc(var(--card-height) / 2.5);
  overflow-y: hidden;
}

.opponent-camp:hover {
  height: var(--card-height);
  transform: rotate(180deg);
}

.opponent-card-count {
  position: absolute;
  left: 0;
  padding: 5px;
  text-align: center;
  white-space: pre-line;
  font-size: smaller;
  transform: rotate(180deg);
}

.icon {
  font-size: var(--icon-size);
}

.icon-sm {
  font-size: calc(var(--icon-size) * 0.6);
}

.tray {
  min-width: calc(var(--card-width) * 3 + calc(var(--gap) * 2) + calc(var(--card-padding) * 20));
  max-width: fit-content;
  margin-top: var(--gap);
}

.flip-tray {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
}

.card-size,
.slots div {
  width: var(--card-width);
  height: var(--card-height);
}

.slots div {
  text-align: center;
  vertical-align: middle;
  padding: var(--card-padding);
}

.slot-card:hover {
  filter: brightness(120%);
  transform: scale(1.05);
}

.camp-choice:hover,
.card:hover {
  box-shadow: 0 0 20px var(--active);
}

.card:hover {
  animation: tiltCard 2s infinite alternate ease-in-out;
}

.card-error {
  background-color: var(--bg-danger);
}

.slot-highlight {
  background-color: var(--success);
}

.slot-card {
  transition: transform 1s;
}

.damaged-card {
  transform: rotate(90deg);
}

.water-wrap {
  left: 2%;
  bottom: 5%;
  display: flex;
  gap: 15px;
}

.water-token {
  max-width: 100px;
}

.water-token-cost {
  filter: brightness(50%) sepia(1) hue-rotate(-50deg) saturate(5) contrast(1.2);
}

.water-token:hover {
  filter: drop-shadow(2px 2px white);
  animation: tiltToken 2s infinite alternate ease-in-out;
}

.camps-dialog,
.camps-dialog-wrap {
  text-align: center;
  min-width: calc(var(--card-width) * 3 + 300px);
}

.camps-dialog-wrap {
  margin-left: auto;
  margin-right: auto;
}

.camp-choice-wrap {
  display: inline-block;
  margin: 0 5px 0 5px;
}

.camp-choice {
  filter: saturate(50%);
}

.camp-choice-sel {
  outline: 5px solid var(--success);
  filter: brightness(120%) saturate(100%);
}

.chat {
  top: 5%;
  right: 2%;
}

.chat-wrap {
  scroll-behavior: smooth;
  max-width: 20vw;
  max-height: var(--chat-max-height);
  overflow-y: hidden;
}

.chat-wrap:hover {
  overflow-y: scroll;
}

.target-mode-section {
  box-shadow: 0 0 50px var(--danger) inset;
  cursor: crosshair;
}

.target-mode-section-injurePerson {
  cursor: url('../images/cursors/cursor-injure.png'), crosshair;
}

.target-mode-help {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: var(--bg-danger);
  color: var(--fg-danger);
  box-shadow: 5px 5px 5px var(--danger);
  padding: 20px 40px 20px 40px;
  opacity: 0.9;
}
