:root {
  --ct-width: 100%;
}

img {
  border-radius: 0;
}

header {
  margin: 0;
  /* TODO Decide if we want the menu bar (with a ton of dead space in the middle) overlapping the opponent camps or not. This would PREVENT the camp overlap
  position: relative;
  z-index: 4999;
  background-color: var(--bg-default);
  */
}

fieldset {
  margin-bottom: 0;
}

.menu-right {
  margin-left: auto;
}

.range-default input[type='range'] {
  accent-color: var(--default);
}

.range-accent input[type='range'] {
  accent-color: var(--accent);
}

.range-active input[type='range'] {
  accent-color: var(--active);
}
