<dialog
  id="scientistChooserDialog"
  class="three-card-dialog"
  @close="doneScientist ? null : showScientistDialog()"
>
  <header>
    <h2>Scientist - Choose 1 card for the Junk effect</h2>
  </header>
  <p>
    You used the Scientist ability, so 3 cards have been drawn from the deck.<br />Choose 1 card to use the Junk effect of,
    then discard all of them
  </p>
  <div class="center">
    <template x-for="card in componentData.scientistChoices">
      <div @click="chooseScientistCard(card)" class="three-card-choice-wrap">
        <img
          :alt="card.img"
          :src="fullCardPath(card)"
          draggable="false"
          class="card-choice"
        />
      </div>
    </template>
  </div>
</dialog>
