<dialog
  id="campPromptDialog"
  class="camps-dialog three-card-dialog"
  @close="!getPlayerData().doneCamps ? showCampPromptDialog() : null"
>
  <header>
    <h2>Choose Your 3 Camps</h2>
  </header>
  <p>
    To start the game you choose <span x-text="CORRECT_CAMP_NUM - selectedCampCount()"></span> camps from a random option of
    6
  </p>
  <div class="center">
    <template x-for="camp in getMyCamps()">
      <div @click="chooseCamp(camp)" class="three-card-choice-wrap">
        <img
          :alt="camp.img"
          :src="utils.fullCardPath(camp)"
          draggable="false"
          :class="'card-choice' + (camp?.selected ? ' card-choice-sel' : '')"
        />
      </div>
    </template>
  </div>
  <footer>
    <template x-if="selectedCampCount() > 0">
      <span>Your starting hand size will be <span x-text="selectedCampDrawCount()"></span> cards</span>
    </template>
    <button @click="doneChooseCamps()" :disabled="selectedCampCount() !== CORRECT_CAMP_NUM" class="success">
      Done Choices
    </button>
  </footer>
</dialog>
