<dialog
  id="endScreenDialog"
  @close="$el.showModal()"
>
  <template x-if="isWin()">
    <header>
      <h2>Victory!</h2>
    </header>
  </template>
  <template x-if="isLose()">
    <header>
      <h2>Defeat!</h2>
    </header>
  </template>
  <template x-if="isTie()">
    <header>
      <h2>Tie Game!</h2>
    </header>
  </template>

  <br />
  <div class="mcenter centered">
    <!-- TODO Show game stats on the end screen (once, you know...we track stacks and all) -->
    <template x-if="isWin()">
      <div>
        <img src="images/ai-art/radlands-ai-winner.png" />
        <p>You have crushed the opposition and rule the wasteland</p>
      </div>
    </template>
    <template x-if="isLose()">
      <div>
        <img src="images/ai-art/radlands-ai-loser.png" />
        <p>You have been routed and destroyed by your stronger opponent</p>
      </div>
    </template>
    <template x-if="isTie()">
      <div>
        <!-- TTODO Generate AI art for tie game -->
        <p>You and your opponent were evenly matched and have tied</p>
        <i>(Had to reshuffle the draw deck, but there are no discards)</i>
      </div>
    </template>
  </div>
  <br />

  <footer>
    <small>...Will return to the lobby in <span x-text="componentData.gameOverCountdown"></span> seconds...</small>
  </footer>
</dialog>
