<dialog
  id="abilityChooserDialog"
  class="three-card-dialog"
>
  <header>
    <h2><span x-text="utils.cardImgToName(componentData.abilityCard?.img)"></span> - Choose the ability to use</h2>
  </header>
  <template x-if="componentData.abilityCard">
    <div class="center" @keyup.window="handleKeyup($event)">
      <template x-if="componentData.abilityCard?.img">
        <img
          :alt="componentData.abilityCard.img"
          :src="utils.fullCardPath(componentData.abilityCard)"
          draggable="false"
        />
      </template>
      <br />
      <template x-for="(ability, index) in componentData.abilityCard.abilities">
        <button @click="chooseAbilityOnCard(index)" style="margin-right: 20px">
          <template x-for="i in ability.cost"><div class="inline">💧</div></template>
          Ability <u><span x-text="index+1"></span></u>
        </button>
      </template>
    </div>
  </template>
</dialog>
