<dialog
  id="mutantChooserDialog"
  class="three-card-dialog"
  @close="doneMutant ? null : showMutantDialog()"
>
  <header>
    <h2>Mutant - Choose to Damage and/or Restore</h2>
  </header>
  <div class="mutant-dialog-wrap center">
    <template x-if="componentData.mutantCardImage">
      <img :src="utils.fullCardPath(componentData.mutantCardImage)" draggable="false" />
    </template>
    <br />

    <label class="inline">
      <input
        type="radio"
        :value="MUTANT_CHOICES.Both"
        x-model="componentData.mutantChoice"
        @click="$nextTick(() => {chooseMutantAbility()})"
      />
      Both
    </label>
    <label class="inline">
      <input
        type="radio"
        :value="MUTANT_CHOICES.Damage"
        x-model="componentData.mutantChoice"
        @click="$nextTick(() => {chooseMutantAbility()})"
      />
      Damage
    </label>
    <label class="inline">
      <input
        type="radio"
        :value="MUTANT_CHOICES.Restore"
        x-model="componentData.mutantChoice"
        @click="$nextTick(() => {chooseMutantAbility()})"
      />
      Restore
    </label>
  </div>
</dialog>
