<dialog
  id="discardDialog"
  class="three-card-dialog"
  @close="doneDiscard ? null : showDiscardDialog()"
  x-data="{ selectedDiscards: [] }"
>
  <header>
    <h2>Choose <b><span x-text="componentData.expectedDiscards"></span></b> to Discard</h2>
  </header>
  <div class="mcenter">
    <template x-for="card in componentData.myCards">
      <div @click="chooseDiscardCard(card, selectedDiscards)" class="three-card-choice-wrap">
        <img
          :alt="card.img"
          :src="utils.fullCardPath(card)"
          draggable="false"
          :class="'card-size card-choice' + (isSelectedDiscard(card, selectedDiscards) ? ' card-choice-sel' : '')"
        />
      </div>
    </template>
  </div>
  <footer>
    <button
      @click="doneChooseDiscards(selectedDiscards)"
      :disabled="selectedDiscards.length !== componentData.expectedDiscards"
      class="success"
    >
      Discard Selected
    </button>
  </footer>
</dialog>
